<%- include("templates/header", {titulo:"Contactanos"})  %>
    
    <form action="/contactanos" id="formulario" method="POST">
        <label>Nombre</label>
        <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Romina">

        <label>Edad</label>
        <input class="form-control mb-3" type="text" name="edad" id="edad" placeholder="20">
        
        <button type="submit" class="btn btn-primary">Enviar datos</button>
    </form>
    
<%- include("templates/footer")  %>